@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  font-family: Roboto;
  /* text-indent: 16px; */
}

a {
  text-decoration: none;
}

h1 {
  color: green;
}

h2 {
  color: rgb(60, 161, 60);
}

body {
  margin: 0px;
  padding: 0px;
}

header {
  padding-top: 12px;
  padding-left: 16px;
  background-color: orangered;
}

header > a:link {
  color: white;
}

header > a:visited {
  color: white;
}

main > a:link {
  text-decoration: none;
  color: rgb(60, 161, 60);
}

header > a:hover {
  color: gray;
}

main {
  padding: 16px;
  padding-bottom: 16px;
}

.gridlayout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.recipelinks {
  padding: 4px 2px;
  font-size: 20px;
  font-weight: bold;
}

div > a:visited {
  color: rgb(60, 161, 60);
}

div > a:hover {
  color: rgb(170, 215, 170);
}

footer {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 0px;
  position: bottom;
  background-color: rgb(55, 145, 55);
}

img {
  height: 200px;
  width: 200px;
}

nav {
  border: 1px;
  border-color: black;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: rgb(220, 220, 220);
}
